@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --main-color: #89AE6B;
    --main-bg-color: #FCFEFB;
    --main-yellow: #FDD17A;
    --main-grey: rgba(63,61,86,0.22);
    --dark-purple: #3F3D56;
    --dark: #373737;
    --lighter-grey:#EBEBEB;
    --font-family: "Open Sans", sans-serif;
}
