@import "../../css/charts.css";
@import "../../css/main.css";

/* setup */

* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--font-family);
  list-style: none;
}

body,
html {
  background-color: #fcfcfc;
  height: 85vh;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px;
  border-radius: 5px;
  border: var(--main-border);
  background-color: var(--main-bg-color);
  color: var(--dark);
  transition: transform 0.2s;
  cursor: pointer;
  z-index: 2;
  outline: none;
}

.flex-spacer {
  flex-grow: 1;
}

button:hover {
  transform: scale(1.08);
}

button:active {
  transform: scale(1.04);
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 25px;
  line-height: 34px;
}
a {
  text-decoration: none;
  color: inherit;
}
/* navbar */

#main-title:hover {
  cursor: pointer;
}

.main-navbar {
  max-width: 1160px;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-background {
  background-color: white;
  box-shadow: 0px 0.1px 0px rgba(0, 0, 0, 0.25);
}
.main-navbar a,
button {
  display: block;
  margin: 10px 40px 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 27px;
  color: #777777;
  font-weight: 400;
}

.main-navbar a:hover {
  transition: all 0.4s;
  color: black;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #c4c4c4;
}

/* menu */

.menu-panel {
  position: absolute;
  display: flex;
  right: 80px;
  top: 40px;
  background-color: var(--main-bg-color);
  z-index: 10;
  width: auto;
  height: auto;
  flex-direction: column;
  background-color: var(--main-bg-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  border-radius: 8px;
}

.menu-panel-items {
  flex-direction: column;
  margin: 30px;
  cursor: pointer;
}

#main-title-container {
  margin-left: 60px;
}

#main-title {
  color: #6f9451;
  font-weight: 600;
}

#projects-page {
  color: black;
}

/* main page */

.project-box {
  margin-top: 80px;
  margin-left: 25px;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
}

.graph-container {
  max-width: 1200px;
  padding: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  color: var(--dark);
  margin: auto;
  height: 100%;
  align-items: center;
}

.graph-container-item {
  width: 90%;
}

.active-button {
  background-color: var(--main-color);
  color: white;
}

/* covid */

.chart-covid-container {
  max-width: 1200px;
  padding: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 5fr;
  color: var(--dark);
  grid-row-gap: 20px;
}
.box-shadow-class {
  box-shadow: 2px 2px 15px 0px var(--lighter-grey);
  padding: 15px 30px 15px 15px;
  border: solid 1px var(--lighter-grey);
  border-radius: 30px;
}

.view-btn-charts {
  background: var(--lighter-grey);
  width: 200px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  margin: 10px 10px;
  padding: 5px 40px;
  color: var(--dark);
  text-align: center;
}

button:hover {
  background-color: var(--main-color);
  color: var(--lighter-grey);
  border: 5px solid #92b577;
}

.covid-canvas {
  margin: 5px;
  padding: 0 15px;
  height: 75vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

#covidByMarketContainer {
  grid-column: span 2;
}

.chart-box-bymarket {
  max-width: 70vh;
  max-height: 30vh;
  display: flex;
  padding-top: 10px;
}

.active-button {
  background-color: var(--main-color);
  color: white;
}

@media only screen and (max-width: 1160px) {
  #projects-page,
  #contribute-page {
    display: none;
  }

  .border-charts {
    border-bottom: var(--main-color) solid 1px;
  }

  .covid-canvas {
    padding: 20px;
    grid-template-columns: 1fr;
    height: auto;
  }
  .covid-canvas:nth-child(1) {
    border-bottom: solid red 1px;
  }

  #covidByMarketContainer {
    margin-top: 30px;
    grid-column: 1;
  }

  .chart-box {
    height: auto;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .chart-covid-container {
    grid-template-columns: 1fr;
    max-width: 400px;
    overflow-x: scroll;
  }

  .graph-container {
    max-width: auto;
    grid-template-columns: 1fr;
    overflow-x: auto;
    height: auto;
  }
  .graph-container-item {
    width: 400px;
    padding-top: 20px;
  }
}
