@import "main.css";

* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--font-family);
  list-style: none;
}

/*element styles*/

body,
html {
  background-color: var(--main-bg-color);
  color: var(--dark);
  min-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--main-bg-color);
  z-index: 100;
  padding: 0px 10px;
}

#quote-sentence-container h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 68px;
  margin-bottom: 5%;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px;
  border-radius: 5px;
  border: var(--main-border);
  background-color: var(--main-bg-color);
  color: var(--dark);
  transition: transform 0.2s;
  cursor: pointer;
  z-index: 2;
  outline: none;
}

button:hover {
  transform: scale(1.08);
}

button:active {
  transform: scale(1.04);
}

#menu-button {
  display: none;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #c4c4c4;
}

/* navbar */

.main-navbar {
  max-width: 1160px;
  background-color: var(--main-bg-color);
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px 0px;
}

.main-navbar a {
  display: block;
  margin: 10px 40px 0;
  cursor: pointer;
}

a::after {
  content: " ";
  display: block;
  border-radius: 100px;
  background-color: var(--main-color);
  width: 0;
  height: 0;
  transition: width 0.15s, height 0.15s;
}
a:hover::after {
  width: 100%;
  height: 3px;
}

.main-navbar button {
  background-color: var(--main-yellow);
  font-size: 15px;
  padding: 6px 15px;
  color: var(--main-bg-color);
  border: none;
  outline: none;
}

.flex-spacer {
  flex-grow: 1;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

#main-title {
  font-weight: bold;
}

#main-title-container {
  margin-right: 60px;
}

/* home page */
#main-container {
  max-width: 1200px;
  padding: 20px;
  overflow: hidden;
}

#quote-sentence-container {
  margin-top: 90px;
  position: relative;
  right: 10px;
  display: grid;
  grid-template-columns: 1.05fr 1fr;
  align-items: center;
  height: 75vh;
  position: relative;
  bottom: 25px;
}

#quote-sentence-container p {
  font-size: 22px;
  margin-bottom: 10%;
  color: #757384;
  position: relative;
  top: 30px;
  left: 5px;
  opacity: 0.9;
  line-height: 1.55;
}

#quote-sentence-container h1 {
  font-size: 62px;
  line-height: 1.32;
  font-weight: bold;
}

#quote-sentence-container button {
  background-color: var(--main-color);
  padding: 10px 10px;
  color: var(--main-bg-color);
  border: none;
  outline: none;
  position: relative;
  top: 60px;
  width: 186px;
  height: 64px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  left: 5px;
}

#home-data-img {
  position: relative;
  left: 200px;
}

#home-section {
  height: 100%;
}

/* trends */
#trends-section {
  padding: 50px 0;
  position: relative;
  top: 100px;
  margin-bottom: 300px;
}

#trends-header {
  margin-bottom: 80px;
}

#trends-grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 40px;
}

.trends-grid {
  width: 100%;
  height: 200px;
  padding: 20px;
  background-color: var(--main-yellow);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.trends-image-holder {
  padding: 5px 0;
  height: 120px;
  display: flex;
}

.trends-grid button {
  width: 80px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border: none;
  background: var(--dark);
  color: var(--main-bg-color);
}

.trends-grid:nth-child(even) button {
  background: var(--main-bg-color);
  color: var(--dark);
}

.trends-grid:nth-child(odd) {
  background-color: var(--main-color);
  color: var(--main-bg-color);
}

.trends-grid a:hover::after {
  width: 0;
  height: 0;
}

/* Steps Section */

#steps-section {
  height: 90vh;
  margin-bottom: 160px;
}

.computer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  margin-bottom: 160px;
}

.direction {
  margin-bottom: 80px;
}

#create-my-own-button {
  background-color: #89ae6b;
  color: white;
  width: 186px;
  height: 64px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

/* credits/footer */

#credit-container {
  padding: 10px 0;
  width: 100%;
  height: 65vh;
  background-color: #f0faeb;
}

#credit-title {
  position: relative;
  top: 30px;
}

.developers {
  position: relative;
  top: 80px;
}

.footer-sentence {
  color: #bababa;
  margin-top: 250px;
}

/* graph string set */
.graph-string-set {
  position: absolute;
  z-index: 1;
}

.graph-string-set div {
  position: absolute;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* menu */

.menu-panel {
  position: absolute;
  right: 80px;
  top: 40px;
  background-color: var(--main-bg-color);
  z-index: 10;
  width: auto;
  height: auto;
  flex-direction: column;
  background-color: var(--main-bg-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  border-radius: 8px;
}

.menu-panel-items {
  flex-direction: column;
  margin: 30px;
  cursor: pointer;
}

#sign-up-button-menu {
  margin: 40px;
  background-color: var(--main-yellow);
  font-size: 15px;
  padding: 6px 15px;
  color: var(--main-bg-color);
  border: none;
  outline: none;
}

#sign-in-popup {
  position: fixed;
  top: 30%;
  left: calc(50% - 150px);
  z-index: 1000;
  background-color: var(--main-bg-color);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
  display: none;
  width: 300px;
  align-items: center;
  flex-direction: column;
}

/* responsive */

@media only screen and (max-width: 1188px) {
  #home-data-img-container {
    display: none;
  }

  #quote-sentence-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu-button {
    display: block;
  }

  #sign-up-button {
    display: none;
  }

  #about-page,
  #projects-page,
  #login-page {
    display: none;
  }
}
