@import "main.css";

* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--font-family);
  list-style: none;
}

/*element styles*/

body,
html {
  background-color: var(--main-bg-color);
  color: var(--dark);
  min-width: 500px;
  overflow: hidden;
}

#quote-sentence-container h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 68px;
  margin-bottom: 5%;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px;
  border-radius: 5px;
  border: var(--main-border);
  background-color: var(--main-bg-color);
  color: var(--dark);
  transition: transform 0.2s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.08);
}

button:active {
  transform: scale(1.04);
}

/* navbar */

.main-navbar {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px 0px;
}

.main-navbar a {
  display: block;
  margin: 10px 40px 0;
  cursor: pointer;
}

a::after {
  content: " ";
  display: block;
  border-radius: 100px;
  background-color: var(--main-color);
  width: 0;
  height: 0;
  transition: width 0.15s, height 0.15s;
}
a:hover::after {
  width: 100%;
  height: 3px;
}

.main-navbar button {
  background-color: var(--main-yellow);
  font-size: 15px;
  padding: 6px 15px;
  color: var(--main-bg-color);
  border: none;
  outline: none;
}

.flex-spacer {
  flex-grow: 1;
}

.d-flex {
  display: flex;
}


.justify-content-center {
  justify-content: center;
}

#main-title {
  font-weight: bold;
}

#main-title-container {
  margin-right: 60px;
}

/* home page */
#main-container {
  max-width: 1200px;
  padding: 20px;
}

#quote-sentence-container {
  position: relative;
  right: 10px;
  display: grid;
  grid-template-columns: 1.05fr 1fr;
  align-items: center;
  height: 75vh;
  position: relative;
  bottom: 25px;
}


#quote-sentence-container p {
  font-size: 22px;
  margin-bottom: 10%;
  color: #757384;
  position: relative;
  top: 30px;
  left: 5px;
  opacity: 0.9;
  line-height: 1.55;
}

#quote-sentence-container h1 {
  font-size: 62px;
  line-height: 1.32;
  font-weight: bold;
}


#quote-sentence-container button {
  background-color: var(--main-color);
  padding: 10px 10px;
  color: var(--main-bg-color);
  border: none;
  outline: none;
  position: relative;
  top: 60px;
  width: 186px;
  height: 64px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  left: 5px;
}

#home-data-img {
  position: relative;
  left: 200px;
}

/* graph string set */
.graph-string-set {
  position: absolute;
  top: 0;
}

.graph-string-set div {
  position: absolute;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*.graph-string-set div:nth-child(1){
  position:absolute;
  left: 200px;
  top: 100px;
  animation: fadeOut 3s;
}


.graph-string-set div:nth-child(2){
  left:500px;
  top: 200px;
  animation: fadeOut 3s;
}


.graph-string-set div:nth-child(3){
  left:800px;
  top: 800px;
  animation: fadeOut 3s;
}


.graph-string-set div:nth-child(4){
  left:1000px;
  top: 500px;
  animation: fadeOut 3s;
}
*/

/* @keyframes falling {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }

  10% {
    opacity: 1;
  }

  20% {

    transform: translateX(-20px) rotate(45deg);

  }

  40% {

    transform: translateX(-20px) rotate(90deg);

  }

  60% {
    transform: translateX(20px) rotate(180deg);
  }

  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}
*/


/*.graph-string-set div:nth-child(1){
  left: 20%;
  animation: falling 15s linear infinite;
  animation-delay: -5s;
}

.graph-string-set div:nth-child(2){
  position: absolute;
  left: 500px;
  animation: falling 20s linear infinite;
  animation-delay: -3s;
}

.graph-string-set div:nth-child(3){
  position: absolute;
  left: 800px;
  animation: falling 20s linear infinite;
  animation-delay: 0s;
}
.graph-string-set div:nth-child(4){
  position: absolute;
  left: 1000px;
  animation: falling 20s linear infinite;
  animation-delay: 0s;
}
*/

