@import "../../css/userPage.css";
@import "../../css/charts.css";

.IDE-graph-container {
  max-width: 1200px;
  padding: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 5fr;
  color: var(--dark);
}
