@import "../css/main.css";

* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--font-family);
  list-style: none;
}

/*element styles*/

body,
html {
  background-color: var(--main-bg-color);
  color: var(--dark);
  min-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--main-bg-color);
  z-index: 100;
  padding: 0px 10px;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 5px;
  border-radius: 5px;
  border: var(--main-border);
  background-color: var(--main-bg-color);
  color: var(--dark);
  transition: transform 0.2s;
  cursor: pointer;
  z-index: 2;
  outline: none;
}

button:hover {
  transform: scale(1.08);
}

button:active {
  transform: scale(1.04);
}

#menu-button {
  display: none;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #c4c4c4;
}

/* navbar */

.main-navbar {
  max-width: 1160px;
  background-color: var(--main-bg-color);
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px 0px;
}

.main-navbar a {
  display: block;
  margin: 10px 40px 0;
  cursor: pointer;
}

a::after {
  content: " ";
  display: block;
  border-radius: 100px;
  background-color: var(--main-color);
  width: 0;
  height: 0;
  transition: width 0.15s, height 0.15s;
}
a:hover::after {
  width: 100%;
  height: 3px;
}

.flex-spacer {
  flex-grow: 1;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

#main-title {
  font-weight: bold;
}

#main-title-container {
  margin-right: 60px;
}

/* main */

#main-container {
  max-width: 1200px;
  padding: 20px;
  overflow: hidden;
}

#main-text-container {
  margin-top: 90px;
  position: relative;
  right: 10px;
}

#main-text-container p {
  font-size: 22px;
  margin-bottom: 10%;
  color: #757384;
  position: relative;
  top: 30px;
  left: 5px;
  opacity: 0.9;
  line-height: 1.55;
  padding-right: 10%;
}

#main-text-container h1 {
  font-size: 62px;
  line-height: 1.32;
  font-weight: bold;
  padding-bottom: 30px;
}

#main-text-container button {
  background-color: var(--main-color);
  font-size: 15px;
  padding: 10px 60px;
  color: var(--main-bg-color);
  border: none;
  outline: none;
}
